/build/
android/key.properties
.fvm/flutter_sdk
.fvm/fvm_config.json
.idea/libraries/Dart_Packages.xml
.idea/libraries/Dart_SDK.xml
.idea/libraries/Flutter_Plugins.xml
.idea/misc.xml
.idea/modules.xml
.idea/my_inkopies_app.iml
.idea/vcs.xml
.packages
android/app/build.gradle
.packages
.idea/vcs.xml
android/app/build.gradle
.packages
.idea/vcs.xml
.idea/vcs.xml
.packages
android/app/build.gradle
